.error {
  color: red;
}
.spot-form {
  display: flex;
  justify-content: center;
}
.spot-form-container {
  max-width: 500px;
}

.other-image {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
