.Modal-background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Modal-container {
  max-width: 80vw;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 4px 0px;
  padding: 16px;
  margin-top: 100px;
}

.Modal-title {
  text-align: center;
}
