.spot-summary .image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spot-summary a {
  text-decoration: none;
  color: black;
}

.spot-summary-text-first-row {
  display: flex;
}

.spot-summary-rate {
  flex-grow: 1;
  text-align: end;
}

.spot-summary-text {
  padding-bottom: 20px;
}

.spot-summary .image .tooltiptext {
  visibility: hidden;
  background-color: lightcoral;
  color: black;
  text-align: center;
  border-radius: 6px;
  width: 120px;
}

.spot-summary .image:hover .tooltiptext {
  visibility: visible;
}
